.app {
  display: flex;
  flex-direction: column;
}

.wrap {
  text-align: center;
  margin: 100px auto;
  width: 450px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} 

.result {
  margin-top: 15px;
  font-size: 18px;
  text-align-last: left;
}

button {
  display: block;
  font-size: 18px;
  padding: 10px;
}

span {
  font-size: 18px;
}